{% extends "accounts/template.html" %}

{% block title %}Edit: {{ reply.habit.name }}{% endblock title %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Date: {{ date }}</p>

{% load crispy_forms_tags %}
{% crispy form %} 

{% endblock body %}