{% extends "accounts/template.html" %}

{% block title %}List Habits{% endblock title %}

{% block body %}
{% if habit %}
        
    <p>ID: {{ habit.id }}</p>
    <p>Habit: {{ habit.name }}</p>
    <p>Time: {{ habit.time }}</p>

    <p>Total Done: {{ total_done }}</p>
    <p>Total Incomplete: {{ total_incomplete }}</p>
       
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Note</th>
                <th scope="col">Done</th>
                <th scope="col">Created At</th>
                <th scope="col">Last Modified At</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
            {% for reply in replies %}
            <tr>
                <th scope="row">{{ reply.id }}</th>
                <td>{{ reply.note }}</td>
                <td>{{ reply.done }}</td>
                <td>{{ reply.created_at }} - {{ reply.created_at|timesince }}</td>
                <td>{{ reply.last_modified_at|timesince }}</td>
                <td><a href="{% url 'edit_habit' reply.id %}">Edit</a></td>
            </tr>
            {% empty %}
                <p>No replies found</p>
            {% endfor %}
        </tbody>
        </table>
    
    
{% else %}
    <p>No habit found</p>
{% endif %}

{% endblock body %}