{% extends "accounts/template.html" %}

{% block title %}HabitBot Dashboard{% endblock title %}

{% block bodyfluid %}
{% if habits %}

<h2>Habit List</h2>
<table class="table">
<thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Time</th>
        <th scope="col">Total replies</th>
    </tr>
</thead>
<tbody>
    {% for habit in habits %}
    <tr>
        <th scope="row">{{ habit.id }}</th>
        <td><a href="{% url 'habit' habit.id %}">{{ habit.name }}</a></td>
        <td>{{ habit.time }}</td>
        <td>{{ habit.reply_set.count }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

<h2>Habit Tracker for {{ date_now|date:"F Y" }}</h2>
<div class="table-responsive">

    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Habit \ Date</th>
            {% for date in dates %}
            <th scope="col">{{ date }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for habit in habits %}
        <tr>
            <th scope="row" class="first-col"><a href="{% url 'habit' habit.id %}">{{ habit.name|truncatechars:15 }}</a></th>
            {% for date in dates %}
            <th scope="col">
                {% for reply in habit.reply_set.all %}
                    {% if reply.created_at.date.day == date %}
                        {% if reply.done == True %}
                        <span class="badge badge-success">✔</span>
                        {% else %}
                        <span class="badge badge-danger">✖</span>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </th>
            {% endfor %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
    
{% else %}
    <p>No habits found</p>
{% endif %}

{% endblock bodyfluid %}