<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}">Habit Bot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% if request.user.is_authenticated %}
          <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
            <a class="nav-link" href="{% url 'index' %}">Home</a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'add_habit' %}active{% endif %}">
            <a class="nav-link" href="{% url 'add_habit' %}">Add Habit</a>
          </li>
          <li class="nav-item {% if request.resolver_match.url_name == 'about' %}active{% endif %}">
            <a class="nav-link" href="#">About</a>
          </li>
        
        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              {{ request.user.profile.full_name }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
              <a href="{% url 'password_change' %}" class="dropdown-item">Change Password</a>
              <div class="dropdown-divider"></div>
              <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
            </div>
          </li>
          {% endif %}
        </ul>
        <ul class="navbar-nav">
          {% if request.user.is_authenticated  %}
          <li class="nav-item">
              <a href="{% url 'logout' %}" class="btn btn-outline-warning">Log out</a>
            </li>
          {% else %}
          <li class="nav-item">
              <a href="{% url 'login' %}" class="btn btn-outline-success">Login</a>
            </li>
          {% endif %}
        </ul>
    </div>
</nav>