{% extends "accounts/template.html" %}

{% block title %}Change Password{% endblock title %}

{% block body %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if alert_success %}
<div class="alert alert-success" role="alert">{{ alert_success }}</div>
{% endif %}

{% load crispy_forms_tags %}
{% crispy form %} 

{% endblock body %}

{% block script %}

{% endblock script %}