{% extends "accounts/template.html" %}

{% block title %}Profile{% endblock title %}

{% block body %}

{% if profile %}
<h2>HabitBot website info</h2>
<p>Username: {{ profile.user.username }}</p>
<p>Email: {{ profile.user.email }}</p>
<a href="{% url 'edit_profile' %}" class="btn btn-primary">Edit Profile</a>
<hr>
<h2>Telegram Info</h2>
<p>First name: {{ profile.first_name }}</p>
<p>Last name: {{ profile.last_name }}</p>
<p>Username: {{ profile.username }}</p>
<p>User ID: {{ profile.telegram_id }}</p>
<p>State: {{ profile.state }}</p>

<a href="{% url 'password_change' %}" class="btn btn-primary" >Change password</a>

{% else %}
<p>Error</p>
{% endif %}

{% endblock body %}

{% block script %}

{% endblock script %}