{% include "accounts/head.html" %}
<body class="bg-light">
    {% include "accounts/nav.html" %}
    <div class="container">
        <div class="row">
            <div class="col text-center">
            <h1>{% block title %}{% endblock title %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% block body %}{% endblock body %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                {% block bodyfluid %}{% endblock bodyfluid %}
            </div>
        </div>
    </div>

{% block script %}{% endblock script %}

{% include "accounts/footer.html" %}    
</body>
</html>